@font-face{font-family: 'GmarketSansTTFLight'; src: url(../data/GmarketSansTTFLight.ttf) format('truetype');}
@font-face{font-family: 'GmarketSansTTFMedium'; src: url(../data/GmarketSansTTFMedium.ttf) format('truetype');}
@font-face{font-family: 'GmarketSansTTFBold'; src: url(../data/GmarketSansTTFBold.ttf) format('truetype');}

html{font-family: 'GmarketSansTTFLight'; scroll-behavior: smooth;}
body{background-color: #EAF9F3; height: 6000px;}
.inner{width: 1650px; margin: 0 auto;}
.blind{overflow: hidden; position: absolute; width: 0; height: 0;
        line-height: 0; text-indent: -9999px;}
main{background-color: #FAFAFA; border-radius: 100px; height: 5900px;}
a{color: #2e2e2e; text-decoration: none;}
.span{display: block; padding-top: 30px;}
.flex{display: flex;}
.on{display: block;}

/* header */
header{width: 100%; height: 80px; line-height: 80px; font-family: 'GmarketSansTTFLight';}
header nav ul{justify-content: space-around; width: 500px; margin-left: 100px; position: fixed; z-index: 500;}
header nav ul li a{color: #6DAFA7; font-size: 16px; font-weight: 900;}
header a:hover{color: #888;}

/* main */
/* intro */
#intro{width: 100%; height: 1000px; position: relative; font-family: 'GmarketSansTTFMedium';}
#intro h1{font-size: 90px; padding: 220px 0 0 110px; color: #2e2e2e;}
#intro h2{font-size: 50px; color: #6DAFA7; padding: 50px 0 0 110px; font-family: 'GmarketSansTTFLight';}
#intro p:first-of-type a{margin: 50px 0 0 110px; display: block; width: 140px; height: 40px; line-height: 40px; font-family: 'GmarketSansTTFLight';
                        text-align: center; background-color: #6DAFA7; color: #fafafa; border: 1px solid #fff; border-radius: 50px;}
#intro p:first-of-type a::after{content: ""; display: inline-block; background: url(../images/Arrow\ 1.png);
                                width: 15px; height: 8px; margin-left: 5px;}
#intro p:last-child img{width: 680px; height: 444px; position: absolute; top: 15%; right: 5%; background-size: cover;}

/* profile */
#profile{width: 100%; height: 1000px; font-family: 'GmarketSansTTFMedium';}
#profile h2{padding-top: 120px; font-size: 50px; text-align: center;}
#profile div{margin: 100px 0 0 200px;}
#profile div > ul:first-child img{width: 300px; padding-left: 20px;}
#profile div>ul:first-child{width: 300px; text-align: center;}
.resume{background-color: #6DAFA7; display: block; width: 140px; height: 40px; line-height: 40px;
        border-radius: 50px; border: 1px solid #fff; color: #fafafa; margin: 20px auto; font-family: 'GmarketSansTTFLight';}
.profile{display: flex; flex-wrap: wrap; margin-left: 80px; width: 800px; height: 500px;}
.profile>li{font-size: 30px; margin-bottom: 20px;}
.profile li ul li{margin: 15px 0 15px;}
.profile li ul li{font-size: 18px; font-family: 'GmarketSansTTFLight';}
.profile>li:nth-of-type(2){margin-left: 85px;}
.skils{width: 900px; justify-content: space-between;}

/* redesign */
#redesign,#redesign1{width: 100%; height: 1000px;}
.pcWrap img{display: block; width: 600px; height: 494px; z-index: 2;}
.wrap{position: relative; left: 7%;top: 25%; width: 600px;}
.img{position: absolute; top: 2.7%; left: 13.1%; width: 84.6%; height: 59%; overflow: hidden;}
.img img{width: 100%;}
#redesign:hover .img img{animation: scroll 10s infinite;}
@keyframes scroll{
        0%{transform: translateY(0);}
        100%{transform: translateY(-70%);}
      }
#redesign{position: relative;}
#redesign ul:first-of-type li:first-child{font-size: 50px; font-family: 'GmarketSansTTFBold'; color: #2e2e2e;}
#redesign ul:first-of-type li:first-child img{margin-right: 30px; padding-bottom: 10px; vertical-align: middle;}
#redesign ul:first-of-type{position: absolute;top: 20%;right: 13.1%;}
#redesign ul:last-of-type li:first-of-type{position: absolute;top:67%;right: 42%;}
#redesign ul:last-of-type li:last-of-type{position: absolute;top:67%;right: 32%;}
/* #redesign ul:last-of-type li:last-of-type{position: absolute;top:67%;right: 20.1%;} */

#redesign1{width: 1650px; position: relative;}
#redesign1 p img{height: 494px; margin: 300px 0 0 200px; animation: spread1 1s;}
#redesign1:hover p img{animation: spread 1s; transform: scale(1.2,1.2);}
@keyframes spread{
        0%{transform: scale(1,1);}
        100%{transform: scale(1.2,1.2);}
      }
@keyframes spread1{
        0%{transform: scale(1.2,1.2);}
        100%{transform: scale(1,1);}
      }

#redesign1 ul:first-of-type{margin: 100px 0 0 40px;}
#redesign1 ul:first-of-type li,#redesign ul:first-of-type li{margin-top: 20px; font-size: 18px;}
#redesign1 ul:last-child li a,
#redesign ul:last-child li a{width: 140px; height: 40px; line-height: 40px; text-align: center; display: block; border: 1px solid #2e2e2e;
                                background-color: transparent; border-radius: 20px; color: #2e2e2e; font-size: 18px;}
#redesign1 ul:last-child li:first-child{position: absolute;top: 72%;right: 39.9%;}
#redesign1 ul:last-child li:last-child{position: absolute;top: 72%;right: 30%;}
.mb40{margin-bottom: 50px;}
.mb20{margin-bottom: 25px; font-family: 'GmarketSansTTFMedium'; font-weight: 900;}
#redesign1 ul:last-child li:first-child a:hover,
#redesign1 ul:last-child li:last-child a:hover,
#redesign ul:last-child li:first-child a:hover,
#redesign ul:last-child li:last-child a:hover,
#redesign ul:last-of-type li:nth-of-type(2) a:hover{background-color: #E9E9E9;}

/* clone */
#clone{width: 100%; height: 1000px;}
#clone div img{width: 1000px; height: 600px; object-fit: cover; border-radius: 20px; position: relative;}
.slide{padding-top: 200px;}
.slick-slide{padding: 0 500px;}
.behind{width: 1000px; height: 600px; border-radius: 20px; background-color: rgba(0,0,0,.5); position: absolute;top:0%;
        text-align: center; color: #fafafa;}
.ex{margin-top: 120px;}
.ex li:first-child{font-family: 'GmarketSansTTFBold'; font-size: 50px;}
.ex li:nth-child(2){padding: 20px 0 45px; font-size: 20px;}
.ex li:nth-child(3),
.ex li:nth-child(4),
.ex li:nth-child(5){font-size: 30px; padding-bottom: 10px; font-family: 'GmarketSansTTFMedium';}
.ex li:nth-child(6) a{display: block; border: 1px solid #fafafa; width: 150px; height: 40px; line-height: 40px;
                        font-size: 20px; color: #fafafa; border-radius: 50px; margin: 30px auto 0;}
.ex li:nth-child(6) a:hover{background-color: #ff8233; color: #fafafa;}
.slick-arrow{border: 0; background-color: transparent; color: transparent; width: 60px; height: 102px; position: absolute; z-index: 1; cursor: pointer;}
.slick-prev{background: url(../images/prev.png) no-repeat;top: 65%;left: 8%; transform: translateY(-65%);}
.slick-next{background: url(../images/next.png) no-repeat;top: 65%;right: 8%; transform: translateY(-65%);}

/* design */
#design{width: 100%; height: 1000px; background: url(../images/bg.png) 180px 80px no-repeat; text-align: center; position: relative;}
#design ul li ul::before{content: ""; display: inline-block; background: url(../images/ps.png) no-repeat; width: 175px; height: 175px; margin: 75px 0 30px;}
#design ul li ul{width: 450px; height: 450px; background-color: #66B2DC; border-radius: 50%; font-size: 30px; color: #fafafa; font-family: 'GmarketSansTTFBold';
cursor: pointer; position: absolute;top: 25%;left: 15%; animation: scale1 1s;}
#design ul li:nth-of-type(2) ul{background-color: #FFAE43; top: 12%;left: 59%; animation: scale1 1s;}
#design ul li:nth-child(2) ul::before{background: url(../images/ai.png) no-repeat;}
#design ul li:first-of-type ul:hover{color: #091831; animation: scale 1s; transform: scale(1.1,1.1);}
#design ul li:nth-of-type(2) ul:hover{color: #380405; animation: scale 1s; transform: scale(1.1,1.1);}
@keyframes scale{
        0%{transform: scale(1,1);}
        100%{transform: scale(1.1,1.1);}
      }
@keyframes scale1{
        0%{transform: scale(1.1,1.1);}
        100%{transform: scale(1,1);}
      }

/*   팝업 임시 버튼 스타일  */
.btn-box .btn-open {
       width: 200px;
       height: 50px;
       margin: 80px auto 0;
       line-height: 50px;
       text-align: center;
   }

.btn-box1 .btn-open1 {
       width: 200px;
       height: 50px;
       margin: 80px auto 0;
       line-height: 50px;
       text-align: center;
}

/* 팝업 스타일 */
.btn{border: 0; width: 80px; height: 80px; background: transparent url(../images/close.png); background-size: cover;}
.modal-bg{display:none; width:100%; height:100%; position:fixed; top:0; left:0; right:0; background: rgba(255, 255, 255, 0.6); z-index:999;}
.modal-bg1{display:none; width:100%; height:100%; position:fixed; top:0; left:0; right:0; background: rgba(255, 255, 255, 0.6); z-index:999;}
.modal-wrap{display:none; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width: 1000px; height: 800px; background: rgba(0, 0, 0, 1);
        border-radius: 10px; overflow-y: scroll; -ms-overflow-style: none; z-index:1000;}
.modal-wrap1{display:none; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width: 1000px; height: 800px; background: rgba(0, 0, 0, 1);
        border-radius: 10px; overflow-y: scroll; -ms-overflow-style: none;  z-index:1000;}
.modal-wrap::-webkit-scrollbar,.modal-wrap1::-webkit-scrollbar{display:none;}


.btn{border: 0; width: 70px; height: 70px; position: relative;top: 40px; right: -400px; background: transparent url(../images/close.png); background-size: cover;}

.create h3, .create1 h3{color: #fff; font-family: 'GmarketSansTTFBold'; font-size: 4rem; padding: 40px 0;}
.create > p img{width: 800px; height: 400px; object-fit: cover; margin: 20px 0;}
.create > p:last-of-type img{width: 800px; height: 1000px; object-fit: cover;}
.skin ul{display: flex; justify-content: space-evenly; padding: 30px 0;}

.create1 > p img{width: 860px; padding: 5px 0;}
.create1 > p:last-of-type img{width: 500px; object-fit: cover;}
.snsimg ul{display: flex; justify-content: space-evenly; padding: 20px 0;}
.snsimg ul img{width: 400px;}
.snsimg p img{width: 800px; padding: 15px 0 30px;}