*{ margin: 0; padding: 0; font-family: 'noto sans kr',sans-serif;}
.inner{margin: 0 auto; text-align: center;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}

/* header */

/* 로고 부분 */
header{width: 100%; height: 119px; background-color: #fff;
        position: fixed; z-index: 2;}
.center{width: 1373px; height: 119px; margin: 0 auto;}
h1,.sns li,.menu li{float: left;}
.sns,.menu{float:right;}
h1{padding: 19px 0 0 131px;}
h1 img{width: 145px; height: 79px;}

/* sns, 로그인, 회원가입 부분 */
.sns{height: 24px; line-height: 24px; padding: 8px 158px 0 0;}
.sns img:nth-of-type(1),
.sns img:nth-of-type(2),
.sns img:nth-of-type(3),
.sns img:nth-of-type(4){width: 24px; height: 24px; display: block;}
.sns img:hover{transform: scale(1.1,1.1);}
.sns li{padding-right: 14px;}
.sns li a{color: #8c6239; font-size: 13px;}

.login{padding-left: 4px;}
.login:hover,.signup:hover{color: red;}
.signup{padding-left: 1px;}
.login::after{content: ""; display: inline-block; width: 1px;
height: 10px; background-color: #8c6239; margin-left: 15px;}

/* 주메뉴 부분 */
.menu{padding: 22px 120px 0 0;}
.menu>li{font-size: 19px; font-weight: 500; padding-right: 20px;}
.menu>li~li{margin-left: 40px;}
.menu .card{width: 108px; height: 33px; line-height: 33px; color: #b22;
            background-color: #faebd7; display: block; border-radius: 5px;
            position: relative;top:-3px; box-shadow: 1px 1px 5px #000;}
.card::before{content: ""; display: inline-block; width: 26px; height: 25px;
background: url(../images/icon_certi02.png); background-size: cover;
margin: 0 6px 5px 0; vertical-align: middle;}

/* main */
/* 메인 배너 부분*/
.swiper-slide{padding-top: 110px;}
.swiper-slide img{width: 100%; height: 622px; object-fit: cover; position: relative;}
div.swiper-button-prev{position: absolute;top: 60%;left: 1%;}
div.swiper-button-next{position: absolute;top: 60%;right: 1%;}
div.swiper-pagination{margin: 0 0 30px 1710px; background-color: rgba(255, 255, 255, 0.6);
                    border-radius: 50px; width: 60px; height: 29px; line-height: 29px; font-size: 13px;}
div.swiper-button-prev::after{content: ""; display: inline-block; width: 50px; height: 50px;
background: url(../images/left.svg) no-repeat;}
div.swiper-button-next::after{content: ""; display: inline-block; width: 50px; height: 50px;
background: url(../images/right.svg) no-repeat;}

/* 공지사항, 이벤트 부분 */
.info1{height: 246px; padding: 40px 0 0 407px; text-align: left;}
.info1 div{float: left;}
.info1 div~div{padding-left: 222px;}
.info1 h2{font-size: 25px; font-weight: 400; margin-bottom: 5px;}
.info1 li{margin-bottom: 8px; font-size: 14px;}
.info1 span{margin-left: 16px;}
.info1 a:hover{color:#666;}
.info1 .More:hover{color: #000;}
.More::after{content: ""; display: inline-block; background: url(../images/morebtn.png);
            width: 20px; height: 20px; background-size: cover; vertical-align: middle;
            margin-left: 11px;}

/* 중간배너 부분 */
main p img{width: 1373px; height: 391px; background-size: cover;}
.banner2{background-color: #ddcfbd;}

/* 엽떡 메뉴 부분 */
.reco{background: url(../images/bg_menu2.jpg); width: 100%; height: 854px;}
.reco h2{padding-top: 111px; font-size: 38px; font-weight: 400; color: #fff;}
.reco h2+p{color: #cecac8; padding: 31px 0 75px; font-size: 19px;}
.food li ul{float: left; width: 322px; height: 430px; background-color: #fff; margin-right: 27px;}

.food li ul{overflow: hidden;}
.food li ul:hover p{color: #fff; transform: translateY(10px); transition: .5s;}
.food li ul:hover a{background-color: #ffc107; transform: scale(1.1); transition: .5s;}
.food li ul:hover{background-color: #f00;}

.food{margin-left: 274px;}
.food li img{width: 322px; height: 222px; background-size: cover;}
.food ul p:first-child{font-size: 28px; font-weight: 600; color: #8c6239; padding: 52px 0 24px;}
.food ul p:nth-child(2){color: #666; font-size: 14px;}
.more a{width: 48px; height: 22px; margin: 15px auto 40px; 
    line-height: 22px; font-size: 13px; color: #fff;
    display: block; background-color: #ccc; border-radius: 12px;}

/* OUR INFORMATION 부분 */
.info2{width: 100%; padding-bottom: 102px;}
.info2 h2{font-size: 30px; font-weight: 500; padding: 86px 0 29px;}
.info2 ul{display: inline-block;}
.info2 h2+p{padding-bottom: 75px;}
.info2 li{float: left; padding: 24px 27px 0;}
.info2 img{width: 410px; height: 270px;}
.info2 a span{font-size: 25px; font-weight: 100; color: #212529;
padding: 42px 0 34px; display: inline-block;}
.info2 p{padding-bottom: 10px; font-size: 16px; color: #6c757d;}
.read{width: 244px; line-height: 100%; margin: 34px auto;
    padding: 15px 0 5px; border: 1px solid #6c757d;}

.info2 ul li:hover{outline: 1px solid #000; box-shadow: 0 3px 10px rgba(0,0,0,0.5);}
.info2 ul li:hover .read{background-color: #000; color: #fff;}
.info2 ul figure{position: relative;}
.info2 ul li:hover figure::after{content: ""; z-index: 1;
    width: 410px; height: 270px; background-color: rgba(0,0,0,.5);
    position: absolute;left: 0;top: 0;}

/* footer */
footer{background-color: #212529; width: 100%; height: 282px;}
.emblem{height: 95px; background-color: #333; padding-left: 334px;}
.emblem li,.emblem img{width: 167px; height: 95px; float: left; margin-right: 50px;}

.company{width: 1373px; margin: auto; padding: 30px 0 0 274px;}
footer p img{width: 121px; height: 66px; opacity: 50%; margin-top: 18px;}
footer p img,.company ul li,.company p{float: left; font-style: normal;}
.company,.company a{color:#666;}
strong{color: #fff;}
.company ul{margin-left: 247px;}
.company li{padding-right: 35px; margin-bottom: 20px;}
.company span{padding-left: 12px;}
address{margin-left: 182px;}
address span::before{content: ""; display: inline-block;
width: 2px; height: 18px; background-color: #666; margin-right: 12px; vertical-align: middle;}
address+p{margin: 25px 0 0 303px;}
