@import url(reset.css);
html,body{
    width: 1920px;
    overflow-x: hidden;
    box-sizing: border-box;
}
/* header */
header{
    width: 1920px;
    height: 44px;
    background-color: rgb(245, 245, 248,0.8);
    backdrop-filter: blur(15px);
    font-size: 11px;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
    position: fixed;
    display: flex;
    justify-content: center;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 980px;
}
.gnb{
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-wrap: nowrap;
}
.gnb > ul,
.wrapper > ul:last-child{
    display: flex;
    justify-content: space-around;
}
.gnb > ul > li{
    width: 100%;
    height: 44px;
}
.gnb > ul > li > a{
    display: inline-block;
    text-align: center;
    width: 100%;
}
.wrapper > ul:last-child{
    width: 90px;
    justify-content: space-between;
}
.wrapper > ul:last-child li button{
    height: 44px; vertical-align: middle;
    border: none;
    background-color: transparent;
}
.gnb > ul > li > ul > li{
    display: none;
    line-height: normal;
}
.gnb > ul > li:hover > ul > li{
    display: block;
    /* position: static; */
}
.gnb > ul > li > ul{
    display: flex;
    position: absolute;
    left: 0;
    top: 44px;
    width: 100%;
    font-size: 11px;
    font-weight: 600;
    background-color: rgb(245, 245, 248,1);
}
.gnb > ul > li > ul > li{
    padding: 40px 0 50px;
    color: gray;
    margin-left: 24%;
}
.gnb > ul > li > ul > li a{
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    padding: 5px 0;
    color: #222;
}
.gnb > ul > li > ul > li > ul{
    margin-top: 10px;
    align-items: center;
}
.gnb > ul > li > ul > li:not(:first-child){
    margin-left: 50px;
}
.gnb > ul > li > ul > li:not(:first-child) a{
    font-size: 11px;
}

/* main */
main{
    width: 1920px;
    padding-top: 44px;
}
main > div p{
    width: 100%;
    height: 54px;
    line-height: 54px;
    background-color: #fff;
    text-align: center;
    text-wrap: nowrap;
    font-size: 12px;
}
main > div p a{
    color: #0066cc;
}
.mac_book,.ipad,.iphone{
    height: 692px;
    background-image: url(../images/hero_macbook_air_m3__cp4t7pn8zqaa_largetall.jpg);
    background-position: 50% 100%;
    color: #222;
    margin-bottom: 12px;
}
.mac_book h2,.ipad h2,.iphone h2{
    font-weight: 700;
    font-size: 55px;
    padding-top: 60px;
    text-align: center;
}
.mac_book p{
    background-color: transparent;
    font-size: 23px;
    font-weight: 500;
    margin-top: 5px;
}
.mac_book ul,.ipad ul,.iphone ul{
    display: flex; justify-content: center;
    font-size: 15px;
    margin-top: 25px;
}
.mac_book ul li:first-child a,
.ipad ul li:first-child a,
.iphone ul li:first-child a{
    border: 1px solid #0071e3;
    background-color: #0071e3;
    color: #fff;
    border-radius: 30px;
    padding: 10px 17px;
    margin-right: 17px;
    font-weight: 500;
}
.mac_book ul li:last-child a,
.ipad ul li:last-child a,
.iphone ul li:last-child a{
    border: 1px solid #0066cc;
    color: #0066cc;
    background-color: transparent;
    border-radius: 30px;
    padding: 10px 17px;
}
.mac_book ul li:first-child a:hover,
.ipad ul li:first-child a:hover,
.iphone ul li:first-child a:hover{
    background-color: #0077ed;
}
.mac_book ul li:last-child a:hover,
.ipad ul li:last-child a:hover,
.iphone ul li:last-child a:hover{
    background-color: #0071e3;
    color: #fff;
}

.ipad{
    background-image: url(../images/hero_ipadpro_announce__gi60pcfhpeie_largetall.jpg);
}
.ipad h2,.iphone h2{
    color: #fff;
}
.ipad h2+p{
    background-color: transparent;
    font-size: 23px;
    font-weight: 500;
    margin-top: 10px;
    color: #fff;
}
.ipad p:nth-child(3){
    background-color: transparent;
    font-size: 18px;
    font-weight: 500;
    margin-top: -10px;
    color: #86868b;
}
.ipad ul{
    margin-top: 15px;
}
.iphone{
    background-image: url(../images/hero_iphone15pro__i70z9oz3hj2i_largetall.jpg);
}
.iphone h2+p{
    background-color: transparent;
    font-size: 23px;
    font-weight: 500;
    margin-top: 10px;
    color: #fff;
}
.iphone ul{
    margin-top: 20px;
}
.content{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content div{
    width: 49%;
    height: 580px;
    margin: 0 6px 12px;
}   
.content div:first-child{
    background-image: url(../images/promo_wwdc24_announce__fv0p5miwnjiq_large.jpg);
}
.content div:nth-child(2){
    background-image: url(../images/promo_pride__6iq9ryajnw2q_large.jpg);
}
.content div:nth-child(3){
    background-image: url(../images/promo_college_students__bxqdcoxgjzw2_large.jpg);
}
.content div:nth-child(4){
    background-image: url(../images/promo_apple_watch_series_9_order__b3u85rm9zf6u_large.jpg);
}
.content div:nth-child(5){
    background-image: url(../images/promo_ipadair_announce__eqsaj3vip4om_large.jpg);
}
.content div:last-child{
    background-image: url(../images/promo_airpods_pro_order__d8xv36p4uwae_large.jpg);
}
.content div:first-child,.content div:nth-child(2),
.content div:nth-child(3),.content div:nth-child(4),
.content div:nth-child(5),.content div:last-child{
    background-position: 50% 100%;
}
.content div ul li,
.content div p{
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.content div:first-child ul{
    margin-top: 425px;
}
.content div:first-child ul li{
    padding-bottom: 7px;
}
.content div:first-child ul li:last-child{
    padding-top: 20px;
}
.content div:nth-child(5) p{
    color: #000;
}
.content div:nth-child(2) ul li:first-child{
    margin: 58px 0 17px;
}
.content div:nth-child(2) ul li:nth-child(2){
    margin-bottom: 10px;
}
.content div:nth-child(2) ul li:last-child{
    margin: 25px 0 0 10px;
}
.content div ul li a{
    border: 1px solid #0071e3;
    background-color: #0071e3;
    color: #fff;
    border-radius: 30px;
    padding: 10px 12px;
    margin-right: 10px;
    font-size: 13px;
    font-weight: 500;
}
.content div li a:hover{
    background-color: #0077ed;
    color: #fff;
}
.content .second_link a{
    border: 1px solid #0066cc;
    color: #0066cc;
    background-color: transparent;
    border-radius: 30px;
    padding: 10px 12px;
}
.content div:nth-child(3) ul{
    margin-top: 400px;
}
.content div:nth-child(3) ul li:first-child{
    font-size: 35px;
    margin-bottom: 12px;
}
.content div:nth-child(3) ul li:last-child{
    margin: 22px 0 0;
}
.content div:nth-child(4) p:first-child{
    margin: 40px 0 15px;
}
.content div:nth-child(4) ul,
.content div:nth-child(5) ul,
.content div:nth-child(6) ul{
    display: flex;
    margin-top: 22px;
    justify-content: center;
}
.content div:nth-child(5) p:first-child{
    margin: 60px 0 16px;
}
.content div:nth-child(5) p:nth-child(3){
    color: #516269;
    font-size: 16px;
    font-weight: 300;
    margin-top: 21px;
}
.content div:nth-child(6) p:first-child{
    font-size: 40px;
    margin: 60px 0 17px;
}
.content div:nth-child(5) li a{
    border: 1px solid #1d1d1f;
    background-color: #1d1d1f;
}
.content div:nth-child(5) li:last-child a{
    background-color: transparent;
    color: #222;
}
.content div:nth-child(5) li a:hover{
    background-color: #272729;
    color: #fff;
}
.content div:last-child ul li:nth-child(2){
    margin-bottom: 30px;
}
.content div:last-child ul li:nth-child(3){
    margin-left: 365px;
}
.content div:nth-child(4) ul li:nth-child(3),
.content div:nth-child(4) ul li:nth-child(4),
.content div:nth-child(5) ul li:nth-child(4),
.content div:nth-child(5) ul li:nth-child(5),
.content div:last-child ul li:nth-child(3),
.content div:last-child ul li:nth-child(4){
    display: inline-block;
}

/* slide */
.slide{
    width: 100%;
    margin-bottom: 38px;
    z-index: -1;
}
.slide div{
    padding: 0 7px;
}
.slide div p b{
    color: #fff;
    font-weight: 900;
}
.slide div p{
    text-shadow: 0 0 5px #000;
    position: absolute;
    bottom: 56px;
    margin-left: 70px;
    background-color: transparent;
    font-size: 20px;
    color: #fff;
}
.slide div p a{
    text-shadow: none;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    display: inline-block;
    width: 128px;
    height: 44px;
    line-height: 44px;
    border-radius: 500px;
    background-color: #f5f5f7;
    margin-right: 18px;
}
.slick-slide{
    opacity: 50%;
}
.slick-slide.slick-current{
    opacity: 100%;
}
.slide div img{
    width: 1250px;
    height: 667px;
}
.slick-dots{
    position: absolute;
    left: 50%;
    bottom: -35px;
    transform: translate(-50%, -50%);
}
.slick-dots li{
    display: inline-block;
}
.slick-dots button{
    width: 1px;
    height: 10px;
    margin: 0 5px;
    color: transparent;
    border: none;
    border-radius: 50%;
    background-color: #949494;
}
.slick-active button{
    background-color: #333333;
}

/* footer */
footer{
    width: 1920px;
    height: 745px;
    background-color: #f5f5f7;
    box-sizing: border-box;
}
.center{
    width: 980px;
    height: 745px;
    margin: 0 auto;
}
.footer_text_1{
    padding-top: 20px;
    font-size: 12px;
    color: #cececf;
}
hr{
    background:#cececf;
    height:1px;
    border:0;
    margin: 20px 0;
}

/* fnb */
.fnb{
    box-sizing: border-box;
    display: flex;
}
.fnb > ul:not(:first-child){
    margin-left: 90px;
}
.fnb > ul > li{
    color: #1e1e1e;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 30px;
}
.fnb > ul > li ul{
    font-size: 11px;
    font-weight: 300;
}
.fnb > ul > li ul li{
    margin-top: 15px;
}
.shoping{
    font-size: 11px;
    margin-top: 10px;
}
.shoping a{
    text-decoration: underline;
    color: #0066cc;
}

/* copyright */
.copyright li,.copyright li ul{
    display: flex;
    align-items: center;
}
.copyright li{
    font-size: 13px;
}
.copyright li ul{
    margin-left: 30px;
}
.copyright li ul a{
    font-size: 11px;
}
.copyright li ul li:not(:last-of-type)::before{
    content: "|";
    padding: 0 7px;
}
.copyright li ul li:first-child::before{
    display: none;
}
.copyright li ul li:last-child{
    margin-left: 208px;
}

/* address */
footer address{
    font-size: 11px;
    color: #cececf;
    margin-top: 20px;
}
footer address span:not(:last-of-type)::after{
    content: "|";
    padding: 0 4px;
}
footer address span a{
    color: #000;
    text-decoration: underline;
}
footer .br{
    display: inline-block;
    padding-top: 5px;
}

/* @media screen and (max-width: 1215px) {
    .content div{
        width: 48%;
    }   
}
@media screen and (max-width: 616px) {
    .content div{
        width: 100%;
    }   
} */